MYSQL_PASSWORD=replace_with_a_strong_password
MYSQL_ROOT_PASSWORD=replace_with_another_strong_password
APP_ORIGIN=http://localhost
APP_PORT=80
GOOGLE_CLIENT_ID=
AUTO_CREATE_SCHEMA=true
AUTO_SYNC_SCHEMA=true
